<div class="imageContainer">
    <a href="/categories/outdoors">

        <div class="outdoors">

        <h2 class="catText"> OUTDOORS </h2>

        </div>
    </a>

    <a href="/categories/indoors">

        <div class="indoors">

        <h2 class="catText"> INDOORS </h2>

        </div>
    </a>

    <a href="/categories/dining">
        <div class="dining">
        
        <h2 class="catText"> DINING </h2>

        </div>
    </a>
    
</div>
