<div class="imageContainer">
    <a href="/adventures/outdoors" class="text">

        <div class="outdoors cat-selector">

            <h2 class="catText"> Outdoors </h2>

        </div>
    </a>

    <a href="/adventures/indoors" class="text">

        <div class="indoors cat-selector">

            <h2 class="catText"> Indoors </h2>

        </div>
    </a>

    <a href="/adventures/dining" class="text">
        <div class="dining cat-selector">

            <h2 class="catText"> Dining </h2>

        </div>
    </a>

    <div class="add-new-adventure" class="text">
        <a href="/adventures/new">Suggest a new adventure</a>
    </div>
</div>