<div class="imageContainer">
    <a href="/categories/outdoors">

        <div class="outdoors cat-selector">

        <h2 class="catText"> OUTDOORS </h2>

        </div>
    </a>

    <a href="/categories/indoors">

        <div class="indoors cat-selector">

        <h2 class="catText"> INDOORS </h2>

        </div>
    </a>

    <a href="/categories/dining">
        <div class="dining cat-selector">
        
        <h2 class="catText"> DINING </h2>

        </div>
    </a>
    
</div>

<div class="add-new-adventure">
    <a href="/categories/new">Suggest a new adventure</a>
</div>
