<div class="categories-container">
    <a href="/categories/outdoors" class="main-categories">outdoors<a>
    <a href="/categories/indoors" class="main-categories">indoors</a>
    <a href="/categories/dining" class="main-categories">dining</a>
</div>
