<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    </header>
    {{{body}}}
    <footer>
      <p>&copy 2017 <a href="Edgar Mendex Portfolio">Edgar Mendez</a>, <a href="Eric Jonelunas Portfolio">Eric Jonelunas</a>,
            <a href="Jessica Matty Portfolio">Jessica Matty</a>, <a href="William Huizenga Portfolio">William Huizenga</a>
      </footer>
  </body>
</html>
