<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  
</head>
  <body>
    <header>
    </header>
    {{{body}}}
    <footer>
      <p>&copy 2017 <a href="Edgar Mendex Portfolio">Edgar Mendez</a>| <a href="Eric Jonelunas Portfolio">Eric Jonelunas</a>|
            <a href="Jessica Matty Portfolio">Jessica Matty</a>| <a href="William Huizenga Portfolio">William Huizenga</a>
      </footer>
  </body>
</html>
