body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    background-size: 100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
}

a {
    color: #8c8973;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header,
footer {
    height: 50px;
    background: white;
    width: 100vw;
    text-align: center;
    border: 3px solid black;
}

header {
    display: flex;
    justify-content: flex-end;
}

.nav {
    margin: 0 25px;
}

.main_image {
    width: 100vw;
    margin: 0;
}

.title {
    font-size: 100px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    margin: 0;
    font-weight: bolder;
    color: #ffe57f;
    text-shadow: rgba(67, 71, 56, 1) 2px;
}

.main-categories {
    font-size: 40px;
    background-color: white;
    color: #00B7FF;
    margin: 40px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    opacity: 0.5;
}

.title_wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 200px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c4dad5;
    width: 100%;
}

.outdoors {
    background-image: url('/images/outdoor.jpg')
}

.indoors {
    background-image: url('/images/bowling.jpg')
}

.dining {
    background-image: url('/images/banana.jpg')
}

.text {
    color: #e5e8e8;
    font-size: 16px;
    text-decoration: none;
}

.text:hover {
    text-decoration: underline;
    font-size: 26px;
}

.catText {
    color: white;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Shrikhand', regular;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    padding: 3px;
}

.cat-selector:hover {
    opacity: 0.7;
}

.cat-selector {
    height: 300px;
    width: 400px;
    background-size: cover;
    margin: 15px;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.subcategory-title {
    font-size: 50px;
    letter-spacing: 10px;
    position: relative;
    text-align: center;
    display: flex;
    font-family: 'Special Elite', sans-serif;
}

.subcat-imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #c4dad5;
    width: 100%;
    flex-flow: row wrap;
}

.new-subcategories {
    height: 300px;
    width: 400px;
    background-size: cover;
    margin: 10px;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.hiking {
    background-image: url('/images/hikers.jpg')
}

.camping {
    background-image: url('/images/camping.jpeg')
}

.picnic {
    background-image: url('/images/park.jpeg')
}

.biking {
    background-image: url('/images/bike.jpg')
}

.new-subcategories:hover {
    opacity: 0.7;
}

.mainContainer {
    width: 100%;
    margin: 0 auto;
    background-color: #c4dad5;
    min-height: 87vh;
}

.adventure-description {
    margin: 0;
}

.adventure-info-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.adventure-info {
    flex-grow: 2;
}

.review-aside {
    flex-grow: 1;
    min-width: 20%;
    margin-left: 20px;
}

#adventureTitle {
    font-size: 30px;
    text-align: center;
    background-color: #c4dad5;
    border-radius: 15px;
    margin: 5px;
    font-family: 'Bowlby One SC', bold;
}

#adventureImage {
    height: 25vw;
    border-radius: 15px;
    border: 2px solid white;
    margin-right: 5px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

#adventureDescription {
    display: inline;
}

.edit-button {
    margin-left: 15px;
}

.only-two-per-page {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}