<p class="edit-your-adventure">Edit Your Adventure</p>
<form action="/categories/" method="POST">
    <input type="text" placeholder="Adventure Title" name="title">
    <select name="categories">
        <option value="indoors">indoors</option>
        <option value="outdoors">outdoors</option>
        <option value="dining">dining</option>
    </select>
    <input type="text" placeholder="subcategory" name="subCategories">
    <input type="text" placeholder="Where is this" name="location">
    <input type="text" placeholder="Please describe this adventure" name="description">
    <input type="submit" value="Edit your Adventure">
</form>