<h1 class="subcategory-title">Let's Go:</h1>

<div class="subcat-imageContainer">


  <a href="/categories/subcategories">
    <div class="new-subcategories hiking">
        <h2 class="catText">HIKING</h2>
    </div>
  </a>

   <a href="/categories/subcategories">
    <div class="new-subcategories camping">
        <h2 class="catText">CAMPING</h2>
    </div>
  </a>

   <a href="/categories/subcategories">
    <div class="new-subcategories picnic">
        <h2 class="catText">PICNIC</h2>
    </div>
  </a>

   <a href="/categories/subcategories">
    <div class="new-subcategories biking">
        <h2 class="catText">BIKING</h2>
    </div>

  </a>

</div>

