<h1 class="typewriter">Let's Go:</h1>

<div class="subcat-imageContainer">


  <a href="/adventures/outdoors/hiking" class="text">
    <div class="new-subcategories hiking">
        <h2 class="catText">HIKING</h2>
    </div>
  </a>
  
   <a href="/adventures/outdoors/camping" class="text">
    <div class="new-subcategories camping">
        <h2 class="catText">CAMPING</h2>
    </div>
  </a>
<br>
   <a href="/adventures/outdoors/picnic" class="text">
    <div class="new-subcategories picnic">
        <h2 class="catText">PICNIC</h2>
    </div>
  </a>

   <a href="/adventures/outdoors/biking" class="text">
    <div class="new-subcategories biking">
        <h2 class="catText">BIKING</h2>
    </div>

  </a>

</div>

