<h1 class="subcategory-title">Pick One:</h1>


<div class="subcat-imageContainer">
<div class="only-two-per-page">

<<<<<<< HEAD
  <a href="/adventures/outdoors/hiking" class="text">
    <div class="new-subcategories hiking">
        <h2 class="catText">Hiking</h2>
    </div>
  </a>
  
   <a href="/adventures/outdoors/camping" class="text">
    <div class="new-subcategories camping">
        <h2 class="catText">Camping</h2>
    </div>
  </a>
<br>
   <a href="/adventures/outdoors/picnic" class="text">
    <div class="new-subcategories picnic">
        <h2 class="catText">Picnic</h2>
    </div>
  </a>

   <a href="/adventures/outdoors/biking" class="text">
    <div class="new-subcategories biking">
        <h2 class="catText">Biking</h2>
    </div>

  </a>
=======
  {{#each subcats}}
  <a href="/adventures/outdoors/{{this}}" class="text">
    <div class="new-subcategories {{this}}">
        <h2 class="catText">{{this}}</h2>
    </div>
  </a>
  {{/each}}
>>>>>>> e69e1df949a8ba8a11bba1264c386d339e21bafc
</div>
</div>

