<h1 class="subcategory-title">Pick One:</h1>


<div class="subcat-imageContainer">
<div class="only-two-per-page">

  {{#each subcats}}
  <a href="{{../category}}/{{this}}" class="text">
    <div class="new-subcategories {{this}}">
        <h2 class="catText">{{this}}</h2>
    </div>
  </a>
  {{/each}}
</div>
</div>

